* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    margin: 1vh auto;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.kontti {
    width: 95vw;
    height: 95vh;
    margin: 0 auto;
    background-color: crimson;
    vertical-align: auto;
}

table {
    padding: 1vh 1vw;
    width: 95vw;
    text-align: center;
    font-weight: 600;
    background-color: lightgreen;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

thead>tr {
    margin-top: 35%;
    font-size: x-large;
    background-color: seagreen;
    color: antiquewhite;
}

#info {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 50%;
}

button a {
    text-decoration: none;
    padding: 3px 10px;
    background-color: darkgreen;
    color: antiquewhite;
    cursor: pointer;
    border-radius: 5px;
}