body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#info {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 50%;
}

#kontti {
    display: grid;
    margin: 5px auto;
    width: 90vw;
}

button, button a {
    text-decoration: none;
    padding: 3px 10px;
    background-color: darkgreen;
    color: antiquewhite;
    border-radius: 5px;
}