* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Classica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:linear-gradient(#73d376,#ccc);
}

.login-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#login-form,#registration_form{
    
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radiot{
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.score-btn{

    font-size: 2em;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border: 5px groove #0b9411;/* testi en tiiä onko hyvä*/
    border-radius: 8px;
}
select{
    font-size: 1em;
}

.kontti {
    width: 99vw;
    height: 97vh;
    margin: 0 auto;
}

table {
    padding: 1vh 1vw;
    width: 98vw;
    margin-top: 5%;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    background-color: lightblue;
}

tbody tr {
    height: 6vh;
}

tbody>tr:nth-child(odd) {
    background-color: aliceblue;
}

thead tr {
    font-size: x-large;
    background-color: darkslateblue;
    color: antiquewhite;
}

#info {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 50%;
}

#btnKontti {
    width: 100vw;
    position: fixed;
    display: flex;
    left: 0;
    bottom: 1vh;
    background-color: rgba(7, 66, 38, 0.7);
    justify-content: space-evenly;
}

#btnKontti button {
    width: 20vw;
}

.modaali {
    display: none;
    width: 95vw;
    height: 30vh;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 1.4em;
    font-weight: 800;
    transform: translate(-50%, -50%);
    border: 1px solid #333;
    background-color: white;
    z-index: 1000;
    padding: 5px;
}

.modaaliSisalto {
    float: left;
}

#korttiSisalto {
    margin-top: 5%;
}

.sulje {
    font-weight: 900;
    color: red;
    float: right;
    cursor: pointer;
}
